
.row {
  background-color: #283136;
}

.card {
  background-color: #283136;
}

.card-title {
  color:white;
}

#input {
  background-color: white;
}

mat-form-field {
  width: 80%;
}

::ng-deep .mat-form-field-flex {
  background-color: white !important;
}

table {
  width: 100% !important;
}

th, td {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}

tr.detail-row {
  height: 0;
}

tr.element-row:not(.expanded-row):hover {
  background: whitesmoke;
}

tr.element-row:not(.expanded-row):active {
  background: #efefef;
}



.button-row {
  display: table-cell;
  width: 490px;
}

.button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.button-bottom{
  position: absolute;
  bottom: 40px;
  right: 30px;
}

.my-add-fab {
  width: 60px;
  height: 60px;
  line-height:30px;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

  &::ng-deep .mat-button-wrapper{
      line-height: 30px;
      padding: 0;

       .mat-icon {
         display: flex;
         align-self: center;
           font-size: 40px;
           align-items: center;
           justify-content: center;
       }
 }
}



