
<div class="row content">
  <div class="card box">
    <div class="content-inputs">
      <mat-label>Filters</mat-label>
    </div>
    <div class="content-inputs">
      <mat-form-field color="accent" appearance="fill" [formGroup]='range'>
        <mat-label>Inherited calendar color</mat-label>
        <input matInput [matDatepicker]="picker1" formControlName='start' [min]='now' >
        <mat-datepicker-toggle matSuffix [for]="picker1" ></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
    </div>


    <button mat-stroked-button color="accent" class="btn-block" (click)="applyDate()">
      <mat-label > Apply Date </mat-label>
    </button>
    </div>

</div>
